<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <title>imusic</title>
</head>
<body>
    <!-- 自己定制的边框 -->
    <div class="myframe">

        <!-- 边框左边的app标志 -->
        <div class="frameleft" style="font-size: 30px;">
            <img src="../static/image/icon.png" alt="">
            Imusic
        </div>

        <!-- 边框中间的搜索部分 -->
        <div class="framesearch" style="-webkit-app-region: no-drag;">
            <input type="text">
            <button>搜索</button>
        </div>

        <!-- 边框右边的用户中心一级窗口关闭和最小化操作 -->
        <div class="frameuser" style="-webkit-app-region: no-drag;">

            <img src="../static/image/usericon.gif" class="usericon">
            <span>rjrxy5201314</span>

            <img src="../static/image/minicon.png" class="miniicon">
            <img src="../static/image/tuichuicon.png" class="tuichuicon">

        </div>

    </div>

    <!-- 内容区域 -->
    <div class="outer">

        <!-- 内容左边的菜单导航 -->
        <div class="menu col-2">

            <!-- 发现音乐菜单导航 -->
            <div class="menu-item">
                <a href=""><span>发现音乐</span></a>
                <div class="childmenu bg-secondary">
                    <a href="">广场</a>
                </div>
                <div class="childmenu">
                    <a href="guanzhu.html">关注</a>
                </div>
                <div class="childmenu">
                    <a href="">视频</a>
                </div>
            </div>

            <!-- 我的音乐菜单导航 -->
            <div class="menu-item">
                <a href=""><span>我的音乐</span></a>
                <div class="childmenu">
                    <a href="">我喜欢的音乐</a>
                </div>
                <div class="childmenu">
                    <a href="">最近播放</a>
                </div>
                <div class="childmenu">
                    <a href="">我的博客</a>
                </div>
            </div>

            <!-- 创建的歌单菜单导航 -->
            <div class="menu-item">
                <a href=""><span>创建的歌单</span></a>
                <div class="childmenu">
                    <img src="../static/image/shoucangicon.png"><a href="">my god</a>
                </div>
                <div class="childmenu">
                    <img src="../static/image/shoucangicon.png"><a href="">hiphop save me</a>
                </div>
            </div>

            <!-- 收藏的歌单菜单导航 -->
            <div class="menu-item">
               <a href=""><span>收藏的歌单</span></a>
            </div>

        </div>

        <!-- 主内容展示区域 -->
        <div class="content col-10">

            <!-- 今日推荐板块 -->
            <div class="item">
                <div class="title">
                    今日推荐
                </div>
                <div class="maincontent">
                    <div class="mycard">
                        <div class="mycard-body">
                            <img src="../static/image/XXXTENTACION-Everybody Dies In Their Nightmares.jpg" class="start">
                        </div>
                    </div>
                    <div class="mycard">
                        <div class="mycard-body">
                            <img src="../static/image/纳豆nado-第二杯半价.jpg" class="start">
                        </div>
                    </div>
                    <div class="mycard">
                        <div class="mycard-body">
                            <img src="../static/image/刘亦心(可乐就是力量)-熬夜上瘾.jpg" class="start">
                        </div>
                    </div>
                    <div class="mycard">
                        <div class="mycard-body">
                            <img src="../static/image/YOASOBI (ヨアソビ)-群青.png" class="start">
                        </div>
                    </div>
                    <div class="mycard">
                        <div class="mycard-body">
                            <img src="../static/image/皮卡丘多多-想想念念.png" class="start">
                        </div>
                    </div>
                    <div class="mycard">
                        <div class="mycard-body">
                            <img src="../static/image/李闰珉 (이루마)-River Flows In You.png" class="start">
                        </div>
                    </div>
                </div>
            </div>

            <!-- 主页歌单推荐 -->
            <div class="item">
                <div class="title">
                    宝藏歌单推荐
                </div>
                <div class="maincontent">
                    <div class="item-songsheet">
                        <img src="../static/image/hiphop-songsheet.jpg" alt="">
                        <div class="sheet-description">
                            中国说唱从地下到地上，涵盖各种各样风格的hiphop金曲，总有一首是你的菜
                        </div>
                    </div>
                    <div class="item-songsheet">
                        <img src="../static/image/wenrou-songsheet.jpeg" alt="">
                        <div class="sheet-description">
                            到底是什么样的爱情，才配得上这路上的颠沛流离，配得上这完美的结局
                        </div>
                    </div>
                    <div class="item-songsheet">
                        <img src="../static/image/shaonian-songsheet.jpeg" alt="">
                        <div class="sheet-description">
                            少年被风吹在阳光下，略微泛红的脸颊，暗藏着我青春最大的秘密
                        </div>
                    </div>
                    <div class="item-songsheet">
                        <img src="../static/image/yihan-songsheet.jpg" alt="">
                        <div class="sheet-description">
                            我一路上翻山越岭，拼了命的只为挤进你的世界，最后却发现我从未靠近你一步
                        </div>
                    </div>
                </div>
            </div>

            <!-- 视屏推荐 -->
            <div class="item">
                <div class="title">
                    视频推荐
                </div>
                <div class="maincontent">
                    <div class="videoitem">
                        <video src="../static/video/张碧晨-光的方向.mp4"></video>
                    </div>
                    <div class="videoitem">
                        <video src="../static/video/YOASOBI-群青(蓝光).mp4"></video>
                    </div>
                    <div class="videoitem">
                        <video src="../static/video/薛之谦-天外来物(超清).mp4"></video>
                    </div>
                    <div class="videoitem">
                        <video src="../static/video/Avicii-The Nights(超清).mp4"></video>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- 音乐播放器 -->
    <div class="footer">

        <div class="musicname">
            <img src="../static/image/XXXTENTACION-Everybody Dies In Their Nightmares.jpg" class="song-icon">
            <div class="song-info">
                <div class="song-name" style="font-size: 22px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                    Everybody Dies In Their Nightmares
                </div>
                <div class="user-name">
                    XXXTENTACION
                </div>
            </div>
        </div>

        <div class="controller">

            <div class="kongzhi">
                <img src="../static/image/shangyishou.png">
                <img src="../static/image/bofang.png" class="toggle">
                <img src="../static/image/xiayishou.png">
            </div>

            <div class="jindutiao">
                <div class="starttime" style="display: inline-block;">
                    00:00
                </div>

                <div class="progress" role="progressbar" style="height: 10px;width: 330px;cursor: pointer;display: inline-block;">
                    <div class="progress-bar" style="width: 0%;height: 10px;background-color: #94B0A2;"></div>
                </div>

                <audio src="../static/audio/Everybody Dies In Their Nightmares.mp3" id="player" preload="auto">
                </audio>

                <div class="endtime" style="display: inline-block;">
                    01:35
                </div>
            </div>
        </div>

        <div class="song-sheet">

            <img src="../static/image/yinliang.png" class="yinliangcontrol">

            <div class="yinliang">

                <div class="myprogress" style="width: 0px;height: 10px;background-color: #FBFAEE;border-radius: 100px;cursor: pointer;">
                    <div class="myprogressbar" style="background-color: #94B0A2;height: 100%;width: 0;border-radius: 100px;">
                    </div>
                </div>

            </div>

            <img src="../static/image/gedan.png" class="gedan">

            <div class="liebiao">
                播放队列
                <div class="item">
                    <img src="../static/image/刘亦心(可乐就是力量)-熬夜上瘾.jpg" alt="">
                    <div class="liebiao-item">
                        <div class="liebiao-songname">
                            熬夜上瘾
                        </div>
                        <div class="liebiao-username">
                            刘亦心(可乐就是力量)
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="../static/image/刘亦心(可乐就是力量)-熬夜上瘾.jpg" alt="">
                    <div class="liebiao-item">
                        <div class="liebiao-songname">
                            熬夜上瘾
                        </div>
                        <div class="liebiao-username">
                            刘亦心(可乐就是力量)
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="../static/image/刘亦心(可乐就是力量)-熬夜上瘾.jpg" alt="">
                    <div class="liebiao-item">
                        <div class="liebiao-songname">
                            熬夜上瘾
                        </div>
                        <div class="liebiao-username">
                            刘亦心(可乐就是力量)
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="../static/image/刘亦心(可乐就是力量)-熬夜上瘾.jpg" alt="">
                    <div class="liebiao-item">
                        <div class="liebiao-songname">
                            熬夜上瘾
                        </div>
                        <div class="liebiao-username">
                            刘亦心(可乐就是力量)
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="../static/image/刘亦心(可乐就是力量)-熬夜上瘾.jpg" alt="">
                    <div class="liebiao-item">
                        <div class="liebiao-songname">
                            熬夜上瘾
                        </div>
                        <div class="liebiao-username">
                            刘亦心(可乐就是力量)
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="../static/image/刘亦心(可乐就是力量)-熬夜上瘾.jpg" alt="">
                    <div class="liebiao-item">
                        <div class="liebiao-songname">
                            熬夜上瘾
                        </div>
                        <div class="liebiao-username">
                            刘亦心(可乐就是力量)
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="../static/image/刘亦心(可乐就是力量)-熬夜上瘾.jpg" alt="">
                    <div class="liebiao-item">
                        <div class="liebiao-songname">
                            熬夜上瘾
                        </div>
                        <div class="liebiao-username">
                            刘亦心(可乐就是力量)
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="../static/image/刘亦心(可乐就是力量)-熬夜上瘾.jpg" alt="">
                    <div class="liebiao-item">
                        <div class="liebiao-songname">
                            熬夜上瘾
                        </div>
                        <div class="liebiao-username">
                            刘亦心(可乐就是力量)
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="../static/image/刘亦心(可乐就是力量)-熬夜上瘾.jpg" alt="">
                    <div class="liebiao-item">
                        <div class="liebiao-songname">
                            熬夜上瘾
                        </div>
                        <div class="liebiao-username">
                            刘亦心(可乐就是力量)
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- 关闭提示 -->
    <div class="close-reminder">

        <!-- 关闭关闭提示窗口 -->
        <div class="close-icon text-end">
            <img src="../static/image/closeicon.png" alt="">
        </div>

        <!-- 关闭提示的标题 -->
        <div class="text-center">
            关闭提示
        </div>

        <!-- 关闭提示操作内容 -->
        <div class="close-content">

            <!-- 最小化到系统托盘选择框 -->
            <div class="item">
                <input type="radio" name="close" value="window-hide">最小化到系统托盘
            </div>

            <!-- 退出app选择框 -->
            <div class="item">
                <input type="radio" name="close" value="window-close">退出Imusic
            </div>

            <!-- 确定操作按钮 -->
            <div class="close-check text-end">
                <button>确定</button>
            </div>

        </div>
    </div>
</body>
<script type="text/javascript" charset="UTF-8" src="../static/js/common.js">
</script>
<script type="text/javascript" charset="UTF-8">
    // 使用require引入jquery从而解决使用scrip标签引入jquery产生的冲突
    window.$ = window.jQuery = require('../static/js/jquery3.6.3.js')
    $("video").mouseenter(function(){
        $(this).attr("controls",true)
    })
    $("video").mouseleave(function(){
        $(this).attr("controls",false)
    })
</script>
</html>