/* 所有页面都会用到的共同样式 */

@font-face {
    font-family: myfont;
    src: url("../font/fontextender.ttf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: myfont;
}

.myframe{
    width: 100%;
    height: 7vh;
    background: #C4D2BD;
    opacity: 0.7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    color: #007562;
    -webkit-app-region: drag;
}

.frameleft img{
    width: 35px;
    height: 35px;
}

.framesearch input{
    width: 250px;
    height: 33px;
    background: none;
    border: 1px solid #005B4A;
    font-size: 20px;
    line-height: 20px;
    padding-left: 10px;
    border-radius: 8px;
    margin-right: 8px;
}

.framesearch button{
    background: none;
    font-size: 20px;
}

.frameuser{
    font-size: 20px;
    line-height: 10px;
    width: 300px;
    display: flex;
    align-items: center;

}

.frameuser span{
    margin-right: 20px;
}

.frameuser .usericon{
    margin-right: 5px;
}

.miniicon{
    margin-right: 10px;
}

.outer{
    width: 100%;
    height: 83vh;
    display: flex;
    background: #F7F5DD;
}

.content{
    padding: 10px;
}

.menu{
    display: flex;
    justify-content: start;
    flex-direction: column;
    border-right: 1px solid #ADAC9A;
}

.menu-item{
    width: 100%;
    margin-bottom: 2px;
    font-size: 20px;
    padding: 10px;
}

.menu-item a{
    text-decoration: none;
    color: #6A8D8A;
}

.childmenu{
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 10px;
}

.childmenu img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.childmenu a{
    text-decoration: none;
    color: #484738;
}

.close-reminder{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 400px;
    height: 230px;
    background: #2F4858;
    font-size: 28px;
    color: #C3FCF2;
    display: none;
}

.close-reminder .close-icon{
    padding-right: 10px;
}

.close-reminder .close-content .item{
    padding-left: 70px;
}

.close-reminder .close-content .close-check{
    padding-right: 10px;
}

.close-content{
    padding: 15px;
    padding-bottom: 0;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    padding: 10px;
    border-top: 1px solid #ADAC9A;
    background-color: #F7F5DD;
    z-index: 2;
    display: flex;
    padding-right: 0;
}

.footer .musicname img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.musicname{
    display: flex;
    width: 300px;
}

.controller{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 580px;
}

.controller .kongzhi img{
    width: 27px;
    height: 27px;
}

.controller .kongzhi img{
    margin-right: 20px;
    cursor: pointer;
}

.song-sheet{
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.song-sheet img{
    margin-right: 10px;
    cursor: pointer;
}

.song-sheet .myprogress{
    transition: all .3s linear;
}

::-webkit-scrollbar {
    height: 1px;
    width: 0;
 }

.song-sheet .liebiao{
    width: 280px;
    height: 400px;
    background-color: #F5F3CB;
    position: absolute;
    right: 0;
    top: -400px;
    padding-left: 15px;
    padding-top: 5px;
    font-size: 25px;
    overflow-y: scroll;
    display: none;
}

.liebiao .item{
    border-bottom: 1px solid black;
    padding-bottom: 7px;
    padding-top: 5px;
    display: flex;
    cursor: pointer;
}

.liebiao .item img{
    width: 50px;
    height: 50px;

}

.liebiao .item .liebiao-item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.liebiao .item .liebiao-item .liebiao-songname{
    font-size: 20px;
}

.liebiao .item .liebiao-item .liebiao-username{
    font-size: 15px;
}

