/* main.html的css样式 */

.content .item .title{
    font-size: 30px;
}

.outer .content .item{
    margin-bottom: 10px;
}

.item-songsheet{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
    font-size: 20px;
    float: left;
    margin-bottom: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.content .item .maincontent .item-songsheet img{
    width: 100px;
    height: 100px;
    margin-right: 5px;
}

.mycard-body img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #C4D2BD;
    transform: all 1.5s cubic-bezier(.76,-0.18,.85,.73);
    cursor: pointer;
}

.mycard-body img:hover{
    transform: scale(1.1);
}

.mycard-body img:active{
    transform: scale(0.9);
}

.content .item:nth-child(1) .maincontent{
    display: flex;
    justify-content: space-around;
}

video{
    float: left;
    height: 130px;
    margin-right: 10px;
}
